<section id="pl">
  <div class="container-fluid py-5">
      <div class="row">
          <div class="col-6 mx-auto">
              <h4 class="text-center text-uppercase text-white">Subscribe to our news letter</h4>
              <h6 class="text-center text-white">Stay informed about us, news and events</h6>
          </div>
      </div>

      <div class="row my-5">
          <div class="col-8 mx-auto">
              <div class="input-group input-group-lg mb-3">
                  <input type="text" class="form-control" placeholder="Enter your email address"
                      aria-label="email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                      <button class="btn btn-lg btn-dark" type="button" id="button-addon2">Send</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="row my-5 justify-content-center">
          <div class="col-auto">
              <a href="#services" class="text-white text-uppercase">Our services</a>
          </div>
          <div class="col-auto">
              <a href="#offer" class="text-white text-uppercase">Offer</a>
          </div>
          <div class="col-auto">
              <a href="#account" class="text-white text-uppercase">my account</a>
          </div>
          <div class="col-auto">
              <a href="#pro" class="text-white text-uppercase">pro</a>
          </div>
          <div class="col-auto">
              <a href="#contact" class="text-white text-uppercase">contact us</a>
          </div>
      </div>

      <div class="row justify-content-center">
          <div class="col-auto">
              <a href="https://www.facebook.com" target="_blank"><img class="img-fluid"
                      src="../../../assets/images/ic_facebook@1x.png" alt=""></a>
          </div>
          <div class="col-auto">
              <a href="https://twitter.com/" target="_blank"><img class="img-fluid"
                      src="../../../assets/images/ic_twitter@1x.png" alt=""></a>
          </div>
          <div class="col-auto">
              <a href="https://www.youtube.com"><img class="img-fluid" src="../../../assets/images/ic_youtube@1x.png"
                      alt=""></a>
          </div>
      </div>
  </div>
</section>