<section class="d-flex flex-column" id="home">

        <div class="row mx-auto pt-2">
            <div class="col-auto">
                <img class="img-fluid" src="../../../assets/images/logo_slider_home@1x.png" alt="logo">
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav text-uppercase">
                    <a class="nav-item nav-link text-white active" href="#home">Home <span
                            class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link text-white" href="#services">Our Services </a>
                    <a class="nav-item nav-link text-white" href="#offer">Offer</a>
                    <a class="nav-item nav-link text-white" href="#myAccount">My account</a>
                    <a class="nav-item nav-link text-white" href="#pro">Pro</a>
                    <a class="nav-item nav-link text-white" href="#contact">Contact us</a>
                    <a class="nav-item nav-link text-white" href="#pl">PL</a>
                </div>
            </div>
        </nav>
        
        <div class="container mt-auto mb-2">
            <div class="row">
                <div class="col">
                    <h2 class="text-white text-uppercase text-center">pamper yourself pretty</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mx-auto">
                    <p class="text-white text-center">Treat yourself to one of our signature services. Our beloved
                        beauty
                        experts will wow your brows, get you glown and so much more. You'll leave looking and
                        feeling more gorgeous than ever before.
                    </p>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-3 mx-auto">
                    <button type="button"
                        class="btn btn-block btn-outline-secondary text-white text-uppercase border-white">I
                        reserve</button>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-2 mx-auto">
                    <img class="mx-auto d-block" src="../../../assets/images/ic_scroll@1x.png" alt="scroll">
                </div>
            </div>
        </div>

    </section>