<section id="account" class="my-5">
        <div class="container">
            <h4 class="text-danger text-uppercase text-center">How it works</h4>
            <div class="row my-3">
                <div class="col-4 mx-auto">
                    <img class="mx-auto d-block" src="../../../assets/images/title _line_category_1@1x.png" alt="title line section">
                </div>
            </div>
            <div class="row">
                <div class="col mx-auto">

                    <img src="../../../assets/images/ic_booking@1x.png" class="mx-auto d-block" alt="booking">
                </div>
                <div class="col mx-auto">
                    <img src="../../../assets/images/ic_payment@1x.png" class="mx-auto d-block" alt="payment">
                </div>
                <div class="col mx-auto">
                    <img src="../../../assets/images/ic_meeting@1x.png" class="mx-auto d-block" alt="meeting">
                </div>
            </div>
            <div class="row my-3">
                <div class="col mx-auto">
                    <h4 class="text-center">Booking</h4>
                </div>
                <div class="col mx-auto">
                    <h4 class="text-center">Payment</h4>
                </div>
                <div class="col mx-auto">
                    <h4 class="text-center">Meeting</h4>
                </div>
            </div>
            <div class="row my-3">
                <div class="col mx-auto">
                    <p class="text-center">Lorem ipsum dolor sit, amet consectetur.</p>
                </div>
                <div class="col mx-auto">
                    <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
                <div class="col mx-auto">
                    <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-3 mx-auto">
                    <button type="button" class="btn btn-block btn-danger text-uppercase">I
                        reserve</button>
                </div>
            </div>

        </div>

    </section>