<section id="contact" class="mt-5">
        <div class="container py-5">
            <h4 class="text-danger text-uppercase text-center">we are close to you</h4>
            <div class="row my-3">
                <div class="col-4 mx-auto">
                    <img class="mx-auto d-block" src="../../../assets/images/title _line_category_1@1x.png" alt="title line section">
                </div>
            </div>

            <div class="row">
                <div class="col-5">
                    <img class="img-fluid" src="../../../assets/images/mobile_phones@1x.png" alt="title line section">
                </div>
                <div class="col-7 my-auto">
                    <div class="row">
                        <div class="col">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quod inventore vitae
                                ullam eius ipsam dolores eveniet voluptatum mollitia unde possimus beatae asperiores,
                                itaque officia repellendus molestiae quis omnis. Expedita!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <img class="img-fluid" src="../../../assets/images/ic_available_app_store_norml@1x.png"
                                alt="title line section">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid" src="../../../assets/images/ic_available_google_play_normal@1x.png"
                                alt="title line section">
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col-5 mx-auto">
                            <button type="button" class="btn btn-block btn-danger text-uppercase">Explore All</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>