<section class="my-5" id="services">
        <div class="container">
            <h4 class="text-danger text-uppercase text-center">explore our services</h4>
            <div class="row my-3">
                <div class="col-4 mx-auto">
                    <img class="mx-auto d-block" src="../../../assets/images/title _line_category_1@1x.png" alt="title line section">
                </div>
            </div>

            <!-- Carousel with cards-->
            <!--Carousel Wrapper-->
            <div class="container-fluid">
                <div class="row no-gutters">
                    <!-- left control -->
                    <div class="col-1 my-auto">
                        <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </div>
                    <!-- Carousel -->
                    <div class="col-10">
                        <div id="carousel-example" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner row flex-nowrap w-100 mx-auto " role="listbox">
                                <div *ngFor="let item of myGlamData; let i=first" class="carousel-item col-12 col-sm-6 col-md-4 col-lg-4"
                                    [class.active]="i">
                                    <div class="card border-0">
                                        <img [src]="'http://'+item.imagePath" class="card-img-top img-fluid" [alt]="item.description">
                                        <div class="row justify-content-center">
                                            <div class="col-auto">
                                                <img src="../../assets/images/title _line_section@1x.png" class="my-2"
                                                    alt="line section">
                                            </div>
                                        </div>
            
                                        <div class="card-body">
                                            <h5 class="card-title text-center">{{ item.label }}</h5>
                                            <ul *ngFor="let service of item.Services" class="text-muted">
                                                <li>{{ service.label_service }}</li>
                                                
                                            </ul>
                                        </div>
                                    </div>
            
                                </div>
                            </div>
            
                        </div>
                    </div>
                    <!-- right control -->
                    <div class="col-1 my-auto">
                        <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            
            </div>
            <!--/.Carousel Wrapper-->

            <div class="row">
                <div class="col-3 mx-auto">
                    <button type="button" class="btn btn-block btn-danger text-uppercase">Explore All</button>
                </div>
            </div>
        </div>

    </section>