<section id="offer">
        <!-- <div class="container-fluid"> -->
        <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <!-- <div class="carousel-caption">
                                                <img src="assets/images/capital_logo@1x.png" alt="capital logo">
                                        </div> -->
                        <img src="../../../assets/images/recomended_background_image@1x.png" class="d-block w-100"
                            alt="capital logo">
                        <div class="header-text hidden-xs">
                            <div class="row">
                                <div class="col text-center">
                                    <h6 class="text-uppercase">Tested, approved & recommended by</h6>

                                    <img src="../../../assets/images/capital_logo@1x.png" class="my-5" alt="capital">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<p>

                                </div>
                            </div>

                        </div><!-- /header-text -->

                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/images/recomended_background_image@1x.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/images/recomended_background_image@1x.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->


    </section>